---
import Layout from 'src/layouts/_layout.astro';
---

<Layout title="Day 2">
  <div class="center">
    <div class="menu-icon">
      <label class="menu-icon__wrapper">
        <input class="menu-icon__input" type="checkbox"/>
        <div class="menu-icon__line menu-icon__line--top"></div>
        <div class="menu-icon__line menu-icon__line--middle"></div>
        <div class="menu-icon__line menu-icon__line--bottom"></div>
      </label>
    </div>
  </div>
</Layout>

<style lang="scss" is:global>
  @import "./_styles.scss";
</style>
