.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  gap: 12px;
}

.box {
  border: 1px solid black;
}

.gradient-1 {
  background: linear-gradient(90deg, #ff0000 0%, #ffff00 100%);
}

.gradient-2 {
  background: linear-gradient(to left, #ff0000 0%, #ffff00 100%);
}

.gradient-3 {
  background: linear-gradient(to top right, #ff0000 0%, #ffff00 100%);
}

.gradient-4 {
  background: linear-gradient(to bottom, #ff0000 0%, #ffff00 100%);
}

.gradient-5 {
  background: linear-gradient(45deg, #ff0000 0%, #ffff00 100%);
}

.gradient-6 {
  background: linear-gradient(0.25turn, #ff0000 0%, #ffff00 100%);
}