---
import Layout from 'src/layouts/_layout.astro';
---

<Layout title="Day 5" page="day5">
  <div class="center">
    
  </div>
</Layout>

<style lang="scss" is:global>
  @import "./_styles.scss";
</style>
