---
import Layout from 'src/layouts/_layout.astro';
---

<Layout title="Day 3" page="day3">
  <div class="center">
    <div class="sun"></div>
    <div class="pyramid pyramid-left"></div>
    <div class="pyramid pyramid-right"></div>
    <div class="ground"></div>
    <div class="pyramid-shadow"></div>
  </div>
</Layout>

<style lang="scss" is:global>
  @import "./_styles.scss";
</style>
