---
import MainLayout from '../layouts/_main.astro';
import { pageInfo } from './routing';

const navList = Object.entries(pageInfo);
---

<MainLayout>
  <div class="grid grid-cols-2 px-3 py-2">
    <nav>
      <div>CSS Challenges</div>
      <ol class="ul-grid list-decimal">
        {
          navList.map(([key, { title }]) => {
            return (
              <li>
                <a href={`/css-day-100-challenge/css-challenges/${key}/`}>{title}</a>
              </li>
            );
          })
        }
      </ol>
    </nav>
  </div>
</MainLayout>

<style lang="scss">
  @import '../layouts/_layout.scss';

  :root {
    color: white;
    font-size: 24px;
    font-weight: 500;
  }

  a:visited {
    color: #aeaeae;
  }

  a:not(:visited) {
    color: #7f7fe0;
  }

  a:hover {
    opacity: 0.7;
  }

  a:not([href]) {
    pointer-events: none;
    opacity: 0.5;
  }

  .ul-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 0;
    padding: 16px 1.25em;
  }

  li {
    line-height: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    :root {
      font-size: 24px;
    }
  }
</style>
