.frame {
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
  color: #786450;
}

.center {
  display: grid;

  grid-template-columns: 200px 1fr;

  width: 320px;
  height: 299px;
  background-color: white;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.center-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1px;
}

.content-item {
  background-color: #F5E8DF;
  transition: all 0.4s ease-in-out;
  text-align: center;
  cursor: pointer;
  padding-top: 28px;

  &:hover {
    background-color: #E1CFC2;
  }

  &__header {
    font-weight: 600;
    font-size: 18px;
  }

  &__body {
    font-size: 11px;
  }
}

.profile-area {
  position: relative;
  cursor: pointer;
  margin-top: 38px;
  height: 70px;
  width: 70px;

  &:hover {
    .circle--left {
      transform: rotate(360deg);
    }

    .circle--right {
      transform: rotate(-360deg);
    }
  }
}

.profile-img {
  height: 100%;
  width: 100%;
  border-radius: 100%;

}

.circle {
  position: absolute;
  border-radius: 9999px;
  border: solid 1px;
  transition: all 1.5s ease-in-out;

  &--right {
    border-color: #786450 transparent #786450 #786450;
  }

  &--left {
    border-color: #786450 #786450 #786450 transparent;
  }

  &--lg {
    top: -6px;
    left: -6px;
    width: 82px;
    height: 82px;
  }

  &--sm {
    top: -3px;
    left: -3px;
    width: 76px;
    height: 76px;
  }
}

.button {
  width: 120px;
  background-color: white;
  font-family: inherit;
  line-height: 26px;
  border-radius: 9999px;
  border: 1px solid #786450;
  color: inherit;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 12px;

  &:hover {
    background-color: #786450;
    color: white;
  }
}

.profile-info {
  text-align: center;
  margin-top: 20px;
}

.name {
  font-weight: 600;
  font-size: 15px;
}

.job {
  font-size: 11px;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 33px;
}
